.awesomplete [hidden] {
    display: none;
}

.awesomplete .visually-hidden {
    position: absolute;
    clip: rect(0, 0, 0, 0);
}

.awesomplete {
    display: block;
    position: relative;
}

.awesomplete > input {
}

.awesomplete > ul {
    position: absolute;
    z-index: 1;
    min-width: 100%;
}

.awesomplete > ul:empty {
    display: none;
}

.awesomplete > ul {
    border-radius: .5em;
    margin: .2em 0 0;
    box-shadow: .1em .2em 1em rgba(0, 0, 0, .9);
}

.awesomplete > ul {
    transition: .4s cubic-bezier(.4, 1.2, .5, 1.4);
    transform-origin: 0 0;
}

.awesomplete > ul[hidden],
.awesomplete > ul:empty {
    opacity: 0;
    transform: scale(0);
    display: block;
}

.awesomplete > ul > li {
    position: relative;
    padding: .2em .5em;
    cursor: pointer;
}

.awesomplete > ul > li:hover {
    background: hsl(200, 40%, 80%);
    color: black;
    border-radius: .5em;
}

.awesomplete > ul > li[aria-selected="true"] {
    background: hsl(205, 40%, 40%);
    color: white;
}

.awesomplete mark {
    font-weight: 700;
    text-decoration: underline;
    background: transparent;
}

.awesomplete li[aria-selected="true"] mark {
    color: inherit;
}
