/* Default custom select styles */
div.cs-select {
    position: relative;
    text-align: center;
    width: 100%;
    max-width: 500px;
}

div.cs-select:focus {
    outline: none; /* For better accessibility add a style for this in your skin */
}

.cs-select select {
    display: none;
}

.cs-select span {
    display: block;
    padding: 5px;
    position: relative;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cs-select > span::after,
.cs-select .cs-selected span::after {
    speak: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.cs-select > span::after {
    content: '\25BE';
    right: 0;
}

.cs-select .cs-selected span::after {
    content: '\2713';
    right: 1em;
}

.cs-select.cs-active > span::after {
    transform: translateY(-50%) rotate(180deg);
}

/* Options */
.cs-select .cs-options {
    text-align: left;
    position: absolute;
    overflow: hidden;
    width: 100%;
    background: #fff;
    visibility: hidden;
}

.cs-select.cs-active .cs-options {
    visibility: visible;
}

