* {
    margin: 0;
    padding: 0;
}

body {
    padding: 50px 0 0;
    font: 15px/17px Arial, sans-serif;
}

a {
    color: #0094D6;
}

a:hover {
    background: #9FD468
}

li {
    list-style-type: none;
}

ul {
    margin-left: 0;
    padding-left: 0;
}

.wrapper {
    width: 400px;
    margin: 50px auto;
    padding: 15px;
    border: 1px dashed #CCC;
    border-radius: 4px;
}

.checkbox {
    vertical-align: top;
    width: 17px;
    height: 17px;
    margin: 0 3px 12px 0;
}

.checkbox + label {
    cursor: pointer;

}

.checkbox:not(checked) {
    opacity: 0;
}

.checkbox:not(checked) + label {
    position: relative;
    padding: 0 0 40px 60px;
}

.checkbox:not(checked) + label:before {
    content: '';
    position: absolute;
    top: -4px;
    left: 0;
    width: 50px;
    height: 26px;
    border-radius: 13px;
    background: #CDD1DA;
    box-shadow: inset 0 2px 3px rgba(0, 0, 0, .2);
}

.checkbox:not(checked) + label:after {
    content: '';
    position: absolute;
    top: -2px;
    left: 2px;
    width: 22px;
    height: 22px;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .3);
    transition: all .2s;
}

.checkbox:checked + label:before {
    background: #6595BE;
}

.checkbox:checked + label:after {
    left: 26px;
}

.checkbox:focus + label:before {
    box-shadow: 0 0 0 3px rgba(255, 255, 0, .5);
}

.radio {
    vertical-align: top;
    width: 17px;
    height: 17px;
    margin: 0 3px 0 0;
}

.radio + label {
    cursor: pointer;
}

.radio:not(checked) {
    position: absolute;
    opacity: 0;
}

.radio:not(checked) + label {
    position: relative;
    padding: 0 0 0 35px;
}

.radio:not(checked) + label:before {
    content: '';
    position: absolute;
    top: -3px;
    left: 0;
    width: 22px;
    height: 22px;
    border: 1px solid #CDD1DA;
    border-radius: 50%;
    background: #FFF;
}

.radio:not(checked) + label:after {
    content: '';
    position: absolute;
    top: 1px;
    left: 4px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #6595BE;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .5);
    opacity: 0;
    transition: all .2s;
}

.radio:checked + label:after {
    opacity: 1;
}

.radio:focus + label:before {
    box-shadow: 0 0 0 3px rgba(255, 255, 0, .5);
}

input[type='reset'] {
    padding: 12px 15px;
    border: none;
    border-radius: 5px;
    background: #CDD1DA;
    color: #FFF;
    cursor: pointer;
    font-size: 15px;
}

.container {
    width: 800px;
    margin: 0 auto;
}

div {
    border: 0px solid black;
    padding: 3px;
}

table {
    table-layout: fixed;
    padding: 1em;
}

table, th, td {
    border: 1px solid black;
    vertical-align: top;
}

fieldset {
    padding: 1em;
    width: 500px;
}

input {
    margin: 1em;
}

.autocomplete-suggestions {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #999;
    background: #FFF;
    cursor: default;
    overflow: auto;
    -webkit-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64);
    -moz-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64);
    box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64);
}

.autocomplete-suggestion {
    padding: 2px 5px;
    white-space: nowrap;
    overflow: hidden;
}

.autocomplete-no-suggestion {
    padding: 2px 5px;
}

.autocomplete-selected {
    background: #F0F0F0;
}

.autocomplete-suggestions strong {
    font-weight: bold;
    color: #000;
}

.autocomplete-group {
    padding: 2px 5px;
    font-weight: bold;
    font-size: 16px;
    color: #000;
    display: block;
    border-bottom: 1px solid #000;
}

.productName {
    width: 400px;
}

#orderItems td {
    text-align: left;
}

thead {
    background: #9FD468;
    color: white;
    font-weight: 700;
    font-size: 12px;
    text-align: center;
}

.clientField {
    background: deepskyblue;
    text-align: center;
}

#company {
    width: 500px;
    height: 30px;
}

#persons {
    width: 400px;
}

.mainframe {
    margin: auto;
    background: #CCCCCC;
}

.businessCaseFrame {
    background: #f0f1f3;
}

#businessCase {
    width: 400px;
    margin: 1em;
}

#owner {
    width: 400px;
    margin: 1em
}

.date {
    width: 150px;
    margin: 1em;
}

#businessCasePhase {
    margin: 1em 0 1em 5em;
    width: 400px;
}

#response {
    margin: auto;
    width: 90%;
    background-color: green;
    padding: 1em;
    color: white;
    font-size: 1em;
    text-align: left;
}

#description {
    height: 100px;
    width: 100%;
    max-width: 100%
}

#descriptionLabel {
    color: #e1791c;
    font-weight: 700;
    font-size: 16px;
}

#descriptionArea {
    position: relative;
    padding: 12px;
    background: #ffefc0;
}

.createBusinessCase {
    width: 100%;
    height: 80px;
}

#addProduct {
    margin-top: 2em;
    margin-bottom: 2em;
}

.buttonSubmit {
    text-decoration: none;
    text-align: center;
    padding: 11px 32px;
    width: 90%;
    border: solid 1px #004F72;
    border-radius: 4px;
    font: 18px Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #E5FFFF;
    background: #6595be;
    -webkit-box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
    -moz-box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
    box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
    opacity: 0.91;
    transform: rotate(7deg);
}

.buttonSubmit:hover {
    padding: 11px 32px;
    border: solid 1px #004F72;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    font: 18px Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #E5FFFF;
    background: #6595be;
    -webkit-box-shadow: 0px 4px 2px #bababa, inset 0px 0px 1px #ffffff;
    -moz-box-shadow: 0px 4px 2px #bababa, inset 0px 0px 1px #ffffff;
    box-shadow: 0px 4px 2px #bababa, inset 0px 0px 1px #ffffff;
    opacity: 1;
}

.buttonSubmit:active {
    padding: 11px 32px;
    border: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font: 18px Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #E5FFFF;
    background: #6595be;
    -webkit-box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
    -moz-box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
    box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
}

#request {
    width: 90%;
}

#productExample input {
    width: 60px;
}

#productExample input[name="product"] {
    width: 350px;
}

#productName {
    width: 100%;
    height: 50px;
}
#response1 {
    width: 1000px;
    margin: auto;
    font-size: 30px;
}

#form {
    width:700px;
}