/*kerio-color:#6595BE;*/
* {
    margin: 0;
    padding: 0;
}

body {
    font: 15px/17px Arial, sans-serif;
}

li {
    list-style-type: none;
}

ul {
    margin-left: 0;
    padding-left: 0;
}

div {
    border: 0px dotted black;
}

table {
    table-layout: fixed;
    margin: auto;
}

table, th, td {
    border: 1px solid greenyellow;
    vertical-align: middle;
}

thead, th {
    background: #6595BE;
    color: white;
    font-size: 1em;
    text-align: center;
}

.checkbox {
    vertical-align: top;
    width: 17px;
    height: 17px;
    margin: 0 3px 12px 0;
}

.checkbox:not(checked) {
    /*opacity: 0;*/
    display: none;
    /*position: absolute;*/
}

.checkbox:not(checked) + label {
    position: relative;
    padding-left: 60px;
}

.checkbox:not(checked) + label:before {
    content: '';
    position: absolute;
    top: -4px;
    left: 0;
    width: 50px;
    height: 26px;
    border-radius: 13px;
    background: #CDD1DA;
    box-shadow: inset 0 2px 3px rgba(0, 0, 0, .2);
}

.checkbox:not(checked) + label:after {
    content: '';
    position: absolute;
    top: -2px;
    left: 2px;
    width: 22px;
    height: 22px;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .3);
    transition: all .2s;
}

.checkbox:checked + label:before {
    background: #6595BE;
}

.checkbox:checked + label:after {
    left: 26px;
}

.checkbox:focus + label:before {
    box-shadow: 0 0 0 3px rgba(255, 255, 0, .5);
}

.radio {
    vertical-align: top;
    width: 17px;
    height: 17px;
    margin: 0 3px 0 0;
}

.radio + label {
    cursor: pointer;
}

.radio:not(checked) {
    position: absolute;
    opacity: 0;
}

.radio:not(checked) + label {
    position: relative;
    padding: 0 0 0 35px;
}

.radio:not(checked) + label:before {
    content: '';
    position: absolute;
    top: -3px;
    left: 0;
    width: 22px;
    height: 22px;
    border: 1px solid #CDD1DA;
    border-radius: 50%;
    background: #FFF;
}

.radio:not(checked) + label:after {
    content: '';
    position: absolute;
    top: 1px;
    left: 4px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #6595BE;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .5);
    opacity: 0;
    transition: all .2s;
}

.radio:checked + label:after {
    opacity: 1;
}

.radio:focus + label:before {
    box-shadow: 0 0 0 3px rgba(255, 255, 0, .5);
}

.autocomplete-suggestions {
    box-sizing: border-box;
    border: 3px solid #999;
    background: #FFF;
    cursor: default;
    overflow: auto;
    box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64);
}

.autocomplete-suggestion {
    padding: 2px 5px;
    white-space: nowrap;
    overflow: hidden;
}

.autocomplete-no-suggestion {
    padding: 2px 5px;
}

.autocomplete-selected {
    background: #6595BE;
}

.autocomplete-suggestions strong {
    font-weight: bold;
    color: #000;
}

#company, #persons, #swm {
    width: 100%;
    height: 50px;
    font-size: 1.5em;
}

.width80 {
    width: 80px;
}

.width100 {
    width: 100px;
}

.width120 {
    width: 120px;
}

.width200 {
    width: 200px;
}

.width300 {
    width: 300px;
}

.width400 {
    width: 400px;
}

.width500 {
    width: 500px;
}

.width700 {
    width: 700px;
}

#products, #existingProducts {
    width: 1400px;
    max-width: 1400px;
    margin: auto;
}

#existingProducts {
    display: none;
}

#items,
#mainTable {
    display: none;
}

.date {
    width: 150px;
    margin: 1em;
}

#description {
    height: 100px;
    width: 100%;
    max-width: 100%;
}

#descriptionLabel {
    color: #e1791c;
    font-weight: 700;
    font-size: 16px;
}

#descriptionArea {
    padding: 12px;
    background: #ffefc0;
}

a.buttonSubmit {
    font-family: Arial, Helvetica, sans-serif;
    display: none;
    text-decoration: none;
    font-size: 24px;
    color: #ffffff;
    width: 400px;
    padding: 10px 20px;
    background: -webkit-gradient(
            linear, left top, left bottom,
            from(#6595be),
            to(#375166));
    border-radius: 10px;
    border: 1px solid #003366;
    text-shadow: 0px 3px 2px rgba(000, 000, 000, 1),
    0px 1px 2px rgba(255, 255, 255, 1);
}

.buttonSubmit:hover {
    box-shadow: 6px 7px 3px rgba(000, 000, 000, 0.6),
    inset 0px 0px 2px rgba(255, 255, 255, 1);
}

#request {
    width: 100%;
    display: none;
}

#mainTable {
    width: 900px;
}

#mainTable th {
    width: 200px;
}

#boxGroup, #hwUsersSection {
    display: none;
}

#antivirusLabel, #activeSyncLabel, #antispamLabel, #webFilterLabel, #warrantyLabel,
#existingAntivirus, #existingActiveSync, #existingAntispam, #existingWebFilter {
    display: none;
}

#swUsers, #price, #totalPrice, #businessCase, #productFullName,
#prod_group_id, #licenseNumber, #existingUsers, #expirationDate,
#businessCaseCategory, #lic_type {
    width: 100%;
    height: 50px;
    font-size: 1.5em;
}

#licenseNumber, #existingUsers, #expirationDate {
    disabled: disabled;
}

#extensions li, #existingExtensions li {
    float: left;
    padding-top: 1em;
    padding-left: 1em;
}

